
@{
    ViewBag.Title = "Index7";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html lang="en">

<head>

    <title>Result Visualization</title>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



</head>

<body>
    <br />
    <br />
    <h2>Ürün-Stok Grafiği Sütunlar</h2>

    <a href="/Grafik/Index5/" class="btn btn-outline-info" style="margin-left:1000px; margin-bottom:10px; color:black; width:100px;">Pie</a>
    <a href="/Grafik/Index6/" class="btn btn-outline-danger" style="margin-left:1000px;  margin-bottom:10px; color:black; width:100px;">Line</a>
    <a href="/Grafik/Index7/" class="btn btn-success" style="margin-left:1000px; color:black; width:100px;">Column</a>

    <div id="Columnchart_div"></div>

    <script>

        $(document).ready(function () {

            $.ajax({

                type: "POST",

                dataType: "json",

                contentType: "application/json",

                url: '@Url.Action("VisualizeUrunResult2", "Grafik")',

                success: function (result) {

                    google.charts.load('current', {

                        'packages': ['corechart']

                    });

                    google.charts.setOnLoadCallback(function () {

                        drawChart(result);

                    });

                }

            });

        });



        function drawChart(result) {

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Name');

            data.addColumn('number', 'Stoklar');

            var dataArray = [];



            $.each(result, function (i, obj) {

                dataArray.push([obj.urn, obj.stk]);

            });

            data.addRows(dataArray);



            var columnChartOptions = {



                width: 1200,

                height: 800,

                bar: { groupWidth: "20%" },

            };



            var columnChart = new google.visualization.ColumnChart(document

                .getElementById('Columnchart_div'));



            columnChart.draw(data, columnChartOptions);

        }

    </script>

</body>

</html>



